@media (min-width: 300px) {
	.main {
		padding-top: 5em;
		max-width: 50%;
	}
}

}

body {
	font-family: sans-serif;
	padding-top: 70px;
}

li {
	font-size: 20px;
}

.title {
	font-size: 40px;
}

.wrap {
	text-align: center;
}

.completed {
	text-decoration: line-through;
	color: #d3d3d3;
}

.left {
	float: left;
}

.right {
	float: right;
}
