body {
    background: #0c6;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.wrap {
    overflow: hidden;

    margin: 10px;
    padding: 10px;

    border-radius: 50px;
    background: white;
}

input {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;

    display: block;

    height: 2em;
    padding: 10px;

    transition: background 300ms ease;
    text-align: center;

    color: #0c6;
    border: 1px solid #0c6;
    border-radius: 50px;
    outline: none;
    background: white;
}

#userInput:focus, .button:hover {
    color: white;
    border: 1px solid #0c6;
    background: #0c6;
}

::-webkit-input-placeholder {
    transition: opacity 600ms ease, transform 150ms ease;

    color: #0c6;
}

:focus::-webkit-input-placeholder {
    transform: translateX(-100px);

    opacity: 0;
    color: white;
}

:-ms-input-placeholder {
    transition: opacity 600ms ease, transform 150ms ease;

    color: #0c6;
}

:focus:-ms-input-placeholder {
    transform: translateX(-100px);

    opacity: 0;
    color: white;
}

::-moz-placeholder {
    transition: opacity 600ms ease, transform 150ms ease;

    color: #0c6;
}

:focus::-moz-placeholder {
    transform: translateX(-100px);

    opacity: 0;
    color: white;
}

:-moz-placeholder {
    transition: opacity 600ms ease, transform 150ms ease;

    color: #0c6;
}

:focus:-moz-placeholder {
    transform: translateX(-100px);

    opacity: 0;
    color: white;
}
